COCKPIT_PASSWORD=CHANGE_ME
COCKPIT_USER=admin
DATABASE_URL=postgres://USERNAME:PASSWORD@database:5432/db?sslmode=disable
GOOGLE_CLIENT_ID=
JWT_SECRET=GENERATE_RANDOM_HEX_HERE
KNOWLEDGE_URL=postgres://USERNAME:PASSWORD@knowledge:5432/db?sslmode=disable
OPENROUTER_API_KEY=
